* {
  margin: 0;
  padding: 0;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

h1 {
  font-size: 1.8rem;
}

p {
  font-size: 1rem;
}

body {
  background-color: #f3f3f3;
}

.navbar {
  border-bottom: 3px solid #34495e;
}

.navbar img {
  width: 100px;
}

.navbar .btn {
  background: #42b983;
  color: #fff;
  font-weight: 600;
}

.navbar .btn:hover {
  color: #fff;
}

.navbar .nav-link {
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #34495e !important;
}

.navbar .active-color {
  color: #42b983 !important;
}

.navbar .nav-link:hover {
  color: #42b983 !important;
}

.navbar nav {
  border-bottom: 3px solid #34495e;
}

.top_question {
  background-color: #42b983;
  min-height: 40px;
  padding: 20px 60px;
  z-index: 19;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.top_question .top_question_body h1 {
  margin-bottom: 10px;
  color: #fff;
}

.top_question .top_question_body p {
  font-weight: 400;
  color: #fff;
}

.answer-section {
  margin-top: 2rem;
}

.page_content .ans_page_content {
  margin-bottom: 30px;
  background-color: #fff;
  padding: .75rem;
  -webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.13);
}

.page_content .ans_page_content .ans_page_title {
  padding: 10px;
  color: #42B983;
  border-bottom: 3px solid #5864706c;
}

.page_content .ans_page_content .ans_page_title h2 {
  font-size: 1.25rem;
}

.page_content .ans_page_content .ans_page_body {
  margin-top: 10px;
  padding: 20px;
}

.page_content .ans_page_content .ans_page_body .ans_page_left {
  margin-left: -15px;
}

.page_content .ans_page_content .ans_page_body .author_img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
}

.page_content .ans_page_content .ans_page_body .author_img img {
  border-radius: 50px;
  border: 2px solid #34495E;
}

.page_content .ans_page_content .ans_page_body .author_name {
  font-size: 1rem;
  font-weight: 500;
  color: #34495E;
}

.page_content .ans_page_content .ans_page_body .publish_date {
  font-size: .85rem;
  color: #34495E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.page_content .ans_page_content .ans_page_body .publish_date i {
  padding: 0 10px;
  font-size: 1rem;
}

.page_content .ans_page_content .ans_page_body .ans_body_content {
  font-size: 1rem;
  color: #34495E;
}

.ask_question_btn {
  background-color: #42B983;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.ask_question_btn:hover {
  background-color: #34495E;
  color: white;
}

.login_reg_slider {
  margin-top: 20px;
  background-color: #fff;
  padding: .75rem;
  -webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.13);
}

.login_reg_slider .login_title {
  padding: 10px;
  color: #42B983;
  border-bottom: 2px solid #5864706c;
}

.login_reg_slider .login_title h2 {
  font-size: 1.25rem;
}

.login_reg_slider .login_form {
  margin-top: 15px;
}

.login_reg_slider .login_form input {
  border: 2px solid #42B983 !important;
  color: #34495E;
}
/*# sourceMappingURL=style.css.map */