// the footer section start here
footer{
    background-color: $second_color;
    margin-top: 50px;
    padding: 50px 0 20px 0;
    color: #fff;
    h2{
        text-align: center;
        font-size: 1.5rem;
    }
    img{
      width: 150px;
      margin-bottom: 15px;
    }
    ul{
        li{
            padding: 5px 0;
            a{
                font-size: 1rem;
                color: #fff;
            }
            a:hover{
                color:$main_color;
            }
        }
    }
    .copyright{
      padding: 20px 0 0 0;
      border-top: 2px solid $main_color;
      p{
        color: #fff;
      }
    }
}