//page import

@import "header";
@import "footer";
@import "basicSetup";





//Question section in top
.top_question {
  background-color: $main_color;
  color: #fff;
  min-height: 40px;
  padding: 20px 60px;
}

//answer section start//
.answer-section {
  margin-top: 2rem;
  .page_content {
    .ans_page_content {
      // margin-bottom: 30px;
      background-color: #fff;
      padding: 0.75rem;
      box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.13);

      .ans_page_title {
        padding: 10px;
        border-bottom: 3px solid $border_color;
        h2 {
          font-size: 1.25rem;
          color: $main_color;
        }
      }
      .ans_page_body {
        color: $second_color;
        margin-top: 10px;
        padding: 20px;
        border-bottom: 2px solid $border_color;
        &:last-child{
          border-bottom: none;
        }
        .author_img {
          padding: 0;
          img {
            border-radius: 50%;
            width: 100%;
            border: 2px solid $second_color;
          }
        }
        .publish_date {
          padding: 10px 0;
          margin-bottom: 10px;
          i {
            margin-left: 10px;
          }
        }
      }
    }
  }
}


//leave answer form sectio start here
.leave_answer {
  background-color: #fff;
  padding: 0.75rem;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.13);
  .leave_answer_title {
    padding: 10px 0;
    border-bottom: 3px solid $border_color;
  }
}

//sidebar section start

//sidebar login section css

.login_reg_slider {
  margin-top: 20px;
  background-color: #fff;
  padding: 0.75rem;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.13);

  .login_title {
    padding: 10px;
    color: $main_color;
    border-bottom: 2px solid $border_color;
    h2 {
      font-size: 1.25rem;
      //text-align: center;
    }
  }
  .login_form {
    margin-top: 15px;
    input {
      border: 2px solid $main_color !important;
      color: $second_color;
    }
  }
}

.slider_point {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.13);

  .slider_point_title {
    padding: 15px;
    border-bottom: 2px solid $border_color;
  }
  .slider_point_body {
    margin: 10px 0;
    padding: 10px;
    .slider_card {
      //padding: 10px;
      border-bottom: 1px solid $border_color;
      .card {
        //border-bottom: 1px solid;
        border: none !important;
        margin: 10px 0;
        img {
          margin-top: 20px;
          justify-content: center;
          align-items: center;
          display: flex;
          border-radius: 50px !important;
          //width: 50px;
          text-align: center;
          border: 2px solid $second_color;
        }
        .card-body {
          padding: 10px 0 !important;

          .card-title {
            color: $second_color;
          }
          .card-text {
            color: $second_color;
            font-size: 1rem;
            font-weight: 500;
          }
          .point_btn{
            background-color: $main_color;
            color: #fff;
          }
        }
      }
    }
  }
}


